extends layout.pug
block content
   .furniture-filter-display-container
        .furniture-display
            each furniture in furnitureTypes
                .furniture-img
                    a(href=`/projects/${furniture.id}` style='text-decoration: none')
                        img(src= furniture.imgLink )
                        p= furniture.name
