extends layout.pug
block content
   .furniture-filter-display-container
        .furniture-display
            each furniture in furnitureTypes
                .img-container
                    a(href=`/projects/${furniture.id}` style='text-decoration: none')
                        img(src= furniture.imgLink class='image' )
                        p= furniture.name
                    div(class='middle')
                        i(class="fas fa-plus-circle")
//- .btn-3 {
//-   background: lighten($red, 3%);
//-   border: 1px solid darken($red, 4%);
//-   box-shadow: 0px 2px 0 darken($red, 5%), 2px 4px 6px darken($red, 2%);
//-   font-weight: 900;
//-   letter-spacing: 1px;
//-   transition: all 150ms linear;
//- }
