extends layout.pug
block content
   .furniture-filter-display-container
        .furniture-display
            each furniture in furnitureTypes
                .img-container
                    a(href=`/projects/${furniture.id}` style='text-decoration: none')
                        img(src= furniture.imgLink class='image' )
                        p= furniture.name
                    div(class='middle')
                        i(class="fas fa-plus-circle")
