extends layout.pug
block content
    div(class='furniture-type-page-layout')
        div(class='furniture-card-container')
            each furniture in furnitureTypes
                div(class='furniture-card')
                    a(href=`/project/${furniture.id}` style='text-decoration: none')
                        img(src= furniture.imgLink id='furniture-img' )
                        p= furniture.name
                            i(class="fas fa-plus-circle")
                        div(class='middle')
