extends layout.pug
block content
    h1= title.toUpperCase()

    div(class='furniture-display')
        each furniture in furnitureTypes
            a(href=`/projects/${furniture.id}`)
                div= furniture.name
                div(class='furniture-image')
                    img(src= furniture.imgLink )
