extends layout

append head
  link(rel="stylesheet" href="/stylesheets/index.css")
  script(src="/javascripts/index.js" type="module" defer)
  script(src="/javascripts/review.js" type="module")


block content
  h1= title
  p Welcome to your Project Skeleton
