doctype html
html
  head
      block head
        title GoodBuilds - #{title}
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ' crossorigin='anonymous')
        link(rel='stylesheet' href='/stylesheets/navbar.css' type='text/css')
        link(rel='stylesheet' href='/stylesheets/styles.css' type='text/css')
        link(rel='stylesheet' href='/stylesheets/home.css' type='text/css')
        link(rel='stylesheet' href='/stylesheets/project.css' type='text/css')
        link(rel='stylesheet' href='/stylesheets/filtered-furniture-display.css' type='text/css')
        link(rel='stylesheet' href='/stylesheets/login.css' type='text/css')
        link(rel='stylesheet' href='/stylesheets/register.css' type='text/css')
  body
    if locals.authenticated
      div(class='background-img')
      nav(class='navbar_login')
        span
          a(href='/'): img(src="/assets/goodBuilds.svg" id='navbar_logo')
        div(class='navbar_login-right')
          //- div(class='navbar-input-container')
          //-   input(type='text' name='search' placeholder='Find a project' id="login_search")
          //-   img(src='/assets/loupe.svg' id='icon_img')
          span(class='navbar_menu')
            //- div(class='navbar_button'): a(href="/users/login" type='button')
            //-   img(src='/assets/userLogo.svg' id='navbar_login--icon')
            //-   label(id='navbar_login--icontext') Log In
            //- div(class='navbar_button')
            //-   form(action="/users/demo" method="post")
            //-     button(type='submit' class='button-menu') Demo User
            div(class='logoutBtn')
              form(action='/users/logout' method='post')
                div(class='navbar_button'): button(type='submit' class='button-menu') Log Out
    else
      div(class='background-img')
      nav(class='navbar_login')
        span
          a(href='/'): img(src="/assets/goodBuilds.svg" id='navbar_logo')
        div(class='navbar_login-right')
          //- div(class='navbar-input-container')
          //-   input(type='text' name='search' placeholder='Find a project' id="login_search")
          //-   img(src='/assets/loupe.svg' id='icon_img')
          span(class='navbar_menu')
            div(class='navbar_button'): a(href="/users/login" type='button')
              img(src='/assets/userLogo.svg' id='navbar_login--icon')
              label(id='navbar_login--icontext') Log In
            div(class='navbar_button')
              form(action="/users/demo" method="post")
                button(type='submit' class='button-menu') Demo User
            div(class='navbar_button'): a(href="/users/register" type='button')
              img(src='/assets/userLogo.svg' id='navbar_login--icon')
              label(id='navbar_login--icontext') Sign Up
            //- div(class='logoutBtn')
            //-   form(action='/users/logout' method='post')
            //-     div(class='navbar_button'): button(type='submit' class='button-menu') Log Out


  block content
