html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' href='/stylesheets/navbar.css' type='text/css')
  body
  nav(class='navbar_login')
    span
      a(href='/'): img(src="/assets/logo-placeholder.png" id='navbar_logo')
    div(class='navbar_login-right')
      div(class='navbar-input-container')
        input(type='text' name='search' placeholder='Find a project' id="login_search")
        img(src='/assets/loupe.svg' id='icon_img')
      span(class='navbar_menu')
        li(class='navbar_button'): a(href="#" type='button')
          img(src='/assets/userLogo.svg' id='navbar_login--icon')
          label(id='navbar_login--icontext') Log In
        li(class='navbar_button'): a(href="#" type='button') Demo User
  