extends layout
include utils.pug

block content
    .projectContainer
        .leftContainer
            span.leftSpan= project.name
            span.leftSpan= project.brand
            span.leftSpan= project.furnitureType
            span.leftSpan= project.serialNumber
        .reviews
        .description
        .img
        