extends layout
include utils.pug

block content
  +validationErrorSummary(errors)
  div(class='background-img')
  div(class='login-container')
    div(class='login_box')
      div(class='login_head') Log In
      form(action='/users/login' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Email Address', 'email', email, 'email', 'Email Address')
        +field('Password', 'password', null, 'password', 'Password')
        div(class='button-container')
          div
            button(type='submit' class='button') Login
      form(action="/users/demo" method="post")
        button(type='submit' class='button') Demo
        div(class='account-btn')
          a(href='/users/register') New here? Create a free account!
