.furniture_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: fit-content;
  /* grid-gap: 1em; */
  justify-content: center;
}

/* .furniture_type_icon {
  height: 20em;
  width: 20em;
} */

#furniture_logo {
  height: 20em;
  width: 20em;
  border: 1px solid black;
  border-radius: 50%;
}
